<script type="text/javascript" src="./KFGImageEditor.js?v1.0"></script>
<script type="text/javascript" src="./KFGImageEditorInitializr.js?1.0"></script>
<script type="text/javascript" src="./KFGImageEditorStatusIcon.js?1.0"></script>
<link rel="import" href="./KFGImageEditor.html" />


<script>otui.Templates.load()</script>
