.ot-dialog[dialogname="kfgimagecroppingdialog"] {
	width: 800px;
	height: 600px;
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
  }
  .ot-touch-ui .ot-dialog[dialogname="kfgimagecroppingdialog"] {
	width: calc(100% - 0.5rem);
	height: calc(100% - 0.5rem);
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container {
	width: inherit;
	height: 100%;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	position: relative;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container {
	width: 15.25rem;
	height: inherit;
	border-right: 1px solid #a9a9a9;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls-header {
	font-size: 1rem;
	height: 2rem;
	background-color: #edf1f3;
	color: #333333;
	padding: 0.5rem 0 0 1rem;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls {
	margin: 1rem 0 0 1rem;
	user-select: none;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-control-divider {
	width: 90%;
	border: 1px solid #a9a9a9;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-undo-redo-container {
	font-size: 0.8rem;
	cursor: pointer;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-undo-redo-container .kfg-image-cropping-undo-button .kfg-image-cropping-image {
	display: inline-block;
	width: 2rem;
	height: 1.5rem;
	vertical-align: middle;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-undo-redo-container .kfg-image-cropping-undo-button .kfg-image-cropping-image.kfg-image-cropping-undo-image {
	background: url('../style/img/undo24.svg') no-repeat center;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-undo-redo-container .kfg-image-cropping-undo-button.kfg-image-cropping-undo-disabled .kfg-image-cropping-image {
	display: inline-block;
	width: 2rem;
	height: 1.5rem;
	vertical-align: middle;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-undo-redo-container .kfg-image-cropping-undo-button.kfg-image-cropping-undo-disabled .kfg-image-cropping-image.kfg-image-cropping-undo-image {
	background: url('../style/img/undo24_dis.svg') no-repeat center;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-undo-redo-container .kfg-image-cropping-undo-button.kfg-image-cropping-undo-disabled .kfg-image-cropping-undo-text {
	color: #a8a8a8;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-undo-redo-container .kfg-image-cropping-redo-button {
	margin-left: 1.5rem;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-undo-redo-container .kfg-image-cropping-redo-button .kfg-image-cropping-image {
	display: inline-block;
	width: 2rem;
	height: 1.5rem;
	vertical-align: middle;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-undo-redo-container .kfg-image-cropping-redo-button .kfg-image-cropping-image.kfg-image-cropping-redo-image {
	background: url('../style/img/redo24.svg') no-repeat center;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-undo-redo-container .kfg-image-cropping-redo-button.kfg-image-cropping-redo-disabled .kfg-image-cropping-image {
	display: inline-block;
	width: 2rem;
	height: 1.5rem;
	vertical-align: middle;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-undo-redo-container .kfg-image-cropping-redo-button.kfg-image-cropping-redo-disabled .kfg-image-cropping-image.kfg-image-cropping-redo-image {
	background: url('../style/img/redo24_dis.svg') no-repeat center;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-undo-redo-container .kfg-image-cropping-redo-button.kfg-image-cropping-redo-disabled .kfg-image-cropping-redo-text {
	color: #a8a8a8;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-crop-dimension-container {
	margin-top: 1.5rem;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-crop-dimension-container .kfg-image-cropping-crop-dimension-header {
	font-size: 1rem;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-crop-dimension-container .kfg-image-cropping-crop-dimension-slider {
	width: 100%;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-crop-dimension-container .kfg-image-cropping-crop-dimension-slider .kfg-image-cropping-crop-slider-holder {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	width: 95%;
	font-size: 0.75rem;
	max-height: 1rem;
	line-height: 1.5rem;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-crop-dimension-container .kfg-image-cropping-crop-dimension-slider .kfg-image-cropping-crop-slider-holder ot-slider {
	width: 96%;
	margin: 0;
	padding: 0;
	border: 0;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-crop-dimension-container .kfg-image-cropping-crop-dimension-slider .kfg-image-cropping-crop-slider-holder .ot-slider-value {
	width: 20%;
	margin-left: 0.25rem;
	border: 1px solid #757575;
	border-radius: 3px;
	padding-left: 4px;
	height: 1rem;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-crop-dimension-container .kfg-image-cropping-crop-dimension-slider .kfg-image-cropping-crop-slider-holder ot-i18n {
	margin-left: 0.3125rem;
	font-size: 0.85rem;
	position: relative;
	bottom: 0.3rem;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-button-container {
	margin-top: 1rem;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-controls-container .kfg-image-cropping-controls .kfg-image-cropping-button-container .kfg-image-cropping-crop-download {
	margin-left: 0.5rem;
  }
  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-container .kfg-image-cropping-img-container {
	width: calc(100% - 15.25rem);
	height: 100%;
	box-sizing: border-box;
	background-color: #333333;
  }

  ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-name {
    width: 12rem;
    height: 1.5rem;
    padding-left: 0.3rem;
}

ot-view[ot-view-type="KFGImageCroppingView"] .kfg-image-cropping-name-label-div {
    font-weight: bold;
    font-size: 0.750rem;
    color: #333333;
    padding-bottom: 0.50rem;
}