<link rel="stylesheet" type="text/css" href="./kfg-image-editor.css"/>

<template id="KFGImageCroppingDialog" ot-template>
    <ot-view ot-freeflow ot-view-type="KFGImageCroppingView" ot-view-props='{"name" : "Image Cropping", "type" : "KFGImageCropping"}'></ot-view>
</template>


<template ot-template id="KFGImageCroppingView_content" ot-view="KFGImageCroppingView">
    <div>
		<ot-dialog-body>
            <div class="kfg-image-cropping-container">
                <div class="kfg-image-cropping-controls-container">
                    <div class="kfg-image-cropping-controls-header">
                        <ot-i18n>Cropping tools</ot-i18n>
                    </div>
                    <div class="kfg-image-cropping-controls">
                        <div class="kfg-image-cropping-undo-redo-container">
                            <span class="kfg-image-cropping-undo-button kfg-image-cropping-undo-disabled" onclick="KFGImageCroppingView.undo(event);">
                                <span class="kfg-image-cropping-image kfg-image-cropping-undo-image"></span>
                                <span class="kfg-image-cropping-undo-text"><ot-i18n>Undo</ot-i18n></span>
                            </span>
                            <span class="kfg-image-cropping-redo-button kfg-image-cropping-redo-disabled" onclick="KFGImageCroppingView.redo(event);">
                                <span class="kfg-image-cropping-image kfg-image-cropping-redo-image"></span>
                                <span class="kfg-image-cropping-redo-text"><ot-i18n>Redo</ot-i18n></span>
                            </span>
                        </div>
                        <div class="kfg-image-cropping-control-divider"></div>
                        <div class="kfg-image-cropping-crop-dimension-container">
                            <div class="kfg-image-cropping-crop-dimension-header">
                                <ot-i18n>Cropping dimensions</ot-i18n>
                            </div>
                            <div class="kfg-image-cropping-crop-dimension-slider">
                                    <div class="kfg-image-cropping-crop-slider-holder kfg-image-cropping-crop-slider-width">
                                        <ot-i18n>X</ot-i18n>
                                        <ot-slider></ot-slider>
                                        <input class="ot-slider-value ot-slider-value-width" type="text" onkeyup="KFGImageCroppingView.updateWidth(event);" />
                                        <ot-i18n>px</ot-i18n>
                                    </div>
                                    <div class="kfg-image-cropping-crop-slider-holder kfg-image-cropping-crop-slider-height">
                                        <ot-i18n>Y</ot-i18n>
                                        <ot-slider></ot-slider>
                                        <input class="ot-slider-value ot-slider-value-height" type="text" onkeyup="KFGImageCroppingView.updateHeight(event);" />
                                        <ot-i18n>px</ot-i18n>
                                    </div>
                            </div>
                        </div>
                        <div class="kfg-image-cropping-control-divider"></div>
						<div class="kfg-image-cropping-name"> <div class="kfg-image-cropping-name-label-div"> <label><ot-i18n ot-token="Crop name" parsed="true">Crop name</ot-i18n></label> </div> <div> <select class="kfg-image-cropping-name" onchange="KFGImageCroppingView.cropSelectionChanged(event)">
						<option value="AMD_PRID.DEFAULT">AMD_PRID.DEFAULT</option>
					    <option value="AMD_PRID.DEFAULT_1">AMD_PRID.DEFAULT_1</option>
					    </select>
                       <!-- <div class="kfg-image-cropping-button-container">
                            <button type="button" class="ot-button micro secondary kfg-image-cropping-crop-download" title="Download crop area" onclick="KFGImageCroppingView.download(event);"><ot-i18n>Download</ot-i18n></button>
                        </div> -->
                    </div>
                </div>
                <div class="kfg-image-cropping-img-container"></div>
            </div>
        </ot-dialog-body>
        <ot-dialog-footer ot-platform="desktop">
            <ot-layout class="kfg-image-cropping-footer-layout">
                <div class="ot-modal-dialog-footer-buttons" ot-layout-fill-width>
                    <button type="submit" disabled autofocus class="ot-button kfg-image-cropping-save" onclick="KFGImageCroppingView.save(event);"><ot-i18n>Save</ot-i18n></button>
                    <button type="button" class="ot-button secondary" onclick="otui.DialogUtils.cancelDialog(this)"><ot-i18n>Cancel</ot-i18n></button>
                </div>
            </ot-layout>			
        </ot-dialog-footer>
    </div>
</template>

<script>otui.Templates.load()</script>

