
<script type="text/javascript" src="./createShootingDemandListView.js"></script>

<link rel="stylesheet" type="text/css"
	href="./shootingDemandListView.css" />

<template id="shootingdemandlist" ot-template
	ot-view="ShootingDemandList">

<style>
.css-button-rounded {
    background: #2fc974;
    color: #fff;
    display: block;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    width: fit-content;
    border-radius: 8px; // the rounded corners are here
}
div {
display: float;
}
a label{
cursor: pointer;
}
table {

  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<div class="ot-modal-dialog-body"
	style="display: flex;width: 600px; height: 500px; overflow-y: scroll;">
	
	<ot-dialog-body>
		<div class="ot-modal-dialog-body">
			<div class="nonvotedcontainer">
				<table>
  <tr>
    <th>Channel Name</th>
    <th>Rendition Link</th>
    
  </tr>
  <tr>
    <td>EDM Cross Sell Banner</td>
    <td>
    	<div> <a class='css-button-rounded'> <label>Copy </label></a> &nbsp; <a class='css-button-rounded'><label> View </label></a> </div>
    	
    </td>
  </tr>
  <tr>
    <td>Facebook Carousel</td>
    <td>Francisco Chang</td>
  </tr>
  <tr>
    <td>Twitter</td>
    <td>Roland Mendel</td>
  </tr>
  <tr>
    <td>Telegram</td>
    <td>Helen Bennett</td>
  </tr>
  <tr>
    <td>Linkedin</td>
    <td>Yoshi Tannamuri</td>
  </tr>
  <tr>
    <td>Google UAC</td>
    <td>Giovanni Rovelli</td>
  </tr>
  <tr>
    <td>Google UAC Desktop</td>
    <td>Giovanni Rovelli</td>
  </tr>
</table>
			</div>
		</div>
	</ot-dialog-body>
	<ot-dialog-footer>

				<div class="ot-modal-dialog-footer-buttons">
					<button id="cancel-button" class="ot-button secondary"
						onclick="otui.DialogUtils.cancelDialog(this)">
						<ot-i18n>Close</ot-i18n>
					</button>
				</div>
	</ot-dialog-footer>
	
	<!-- <ot-dialog-body>
		
		<div id="content" style="height:79vh;width:43vw;position:relative;overflow:auto"></div> 
			
		
		</ot-dialog-body>
		<ot-dialog-footer>

			<div class="ot-modal-dialog-footer-buttons">
				<button id="cancel-button" class="ot-button secondary"
					onclick="otui.DialogUtils.cancelDialog(this)">
					<ot-i18n>Close</ot-i18n>
				</button>
				
				<button id="ok-button" class="ot-button secondary" 
					onclick="otui.Views.containing(this).closeForm(event);"
					onkeydown = "otui.Views.containing(this).enterKeyEvent(event);">
					<ot-i18n>Close</ot-i18n>
				</button>
				
			</div>
			
			
		</ot-dialog-footer> -->
	<!-- <ot-dialog-body>
	<div id="ot-shooting-list-deliveryOptions">
		<span style ="color: red; border:1rem;"> * </span> <span>Indicates Required Fields </span>
		<div class="ot-shooting-1-indent-content">

			<div id="shareOptionFields" class="ot-shooting-list-fields">
				<div class="ot-shooting-list-field">
					<label>PDF file name<span style="color:red;" title="Required"> *</span></label><input id="pdfFileName" maxlength="50" value="Shooting Demand List">
					<div class="ot-cs-note">Maximum 50 characters are allowed.</div>
				</div>
				<div class="ot-shooting-list-field">
					<label>Title <span style="color:red;" title="Required"> *</span></label><input id="pdfTitle" maxlength="undefined" value="Shooting Demand List" >
				</div>

				<div class="ot-shooting-list-field">
					<label>Email<span style="color:red;" title="Required"> *</span></label><input id="userEmail" maxlength="undefined"
						type="email" disabled>
				</div>

				<div class="ot-shooting-list-field">
					<label>Optional Metadata</label>

					<div class="ot-select-pane-list" style="border: 1px solid #a9a9a9;">
						<div id="ot-select-pane-list-header" class="ot-select-pane-header">
							<div class="ot-select-pane-list-header">
								<ot-i18n class="ot-link ot-selector-pane-list-header-selectall"
									ot-with-title="" ot-token="Select all" parsed="true"
									title="Select all" onclick="ShootingDemandList.selectAll(this)">Select
								all</ot-i18n>
								<ot-i18n
									class="ot-link ot-selector-pane-list-header-deselectall"
									ot-with-title="" ot-token="De-select all" parsed="true"
									title="De-select all"
									onclick="ShootingDemandList.deSelectAll(this)">De-select
								all </ot-i18n>
							</div>
						</div>
						<div class="ot-select-pane-list-body"
							style="height: 95px; overflow-y: scroll;"></div>
					</div>

				</div>
				<div class="ot-shooting-list-field">
					<label>Activity Name</label><input id="activityName"
						maxlength="undefined" value="Shooting Demand List">
				</div>

			</div>
		</div>
	</div>
	</ot-dialog-body> -->
	<!-- <ot-dialog-footer>
	<div class="ot-modal-dialog-footer-buttons">

		<button id="cancel-button" class="ot-button secondary"
			onclick="otui.DialogUtils.cancelDialog(this)">
			<ot-i18n>Close</ot-i18n>
		</button>
		<button id="submit-button" class="ot-button secondary"
			onclick="ShootingDemandList.submitRequest(this)" >
			<ot-i18n>Submit</ot-i18n>
		</button>
	</div>

	</ot-dialog-footer> -->
</div>



</template>

<script>
	otui.Templates.load();
	
	
</script>

