.ot-shooting-fields-pane-list-header {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.75rem;
    height: 1.75rem;
    min-height: 1.75rem;
    line-height: 1.75rem;
}

.ot-fields-pane-list {
    width: 100%;
    height: inherit;
    display: block;
    background-color: #ffffff;
    white-space: nowrap;
    font-size: 0.75rem;
    overflow-y: hidden;
    border: 1px;
}
.ot-shooting-list-container {
    width: calc(100% - 2rem);
    height: calc(100% - 4rem);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.ot-shooting-list-field input {
    width: calc(100% - 1rem);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    font-size: 0.75rem;
    color: #333333;
}

.ot-shooting-contasdiner-wrapper {
    padding: 1rem;
    padding-left: 0;
}

/* .ot-share-heading {
    font-weight: bold;
    font-size: 1rem;
    color: #000000;
    outline: none;
} */

.ot-shooting-1-indent-content {
    padding-left: 1rem;
}

.ot-shooting-list-fields {
    display: block;
    margin: 1.0rem;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
}

 .ot-shooting-list-fields .ot-shooting-list-field {
 	width: 55%;
    margin-bottom: 0.75rem;
    margin-left: 2rem;
}
