.ot-shooting-fields-pane-list-header {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.75rem;
    height: 1.75rem;
    min-height: 1.75rem;
    line-height: 1.75rem;
}

.ot-fields-pane-list {
    width: 100%;
    height: inherit;
    display: block;
    background-color: #ffffff;
    white-space: nowrap;
    font-size: 0.75rem;
    overflow-y: hidden;
    border: 1px;
}
.ot-shooting-list-container {
    width: calc(100% - 2rem);
    height: calc(100% - 4rem);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.ot-shooting-list-field input {
    width: calc(100% - 1rem);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    font-size: 0.75rem;
    color: #333333;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: grey;
}

.commentTxtArea {
	overflow-y: scroll;
	resize: none; 
	width: 90%;
	height: 120px ;
	border: 1px solid black;
	background-color: #d1cfd2;
}

.commenthide {
	position:absolute;
	top:-1px;
	left:-1px;
	width:1px;
	height:1px;
}
#commentsmodalcontainer {
	position: absolute;
    top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
#commentsmodal {
	width: 500px;
    padding: 10px;
    align-content: center;
    margin: 6em auto;
    background: rgba(255, 255, 255, 1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
	font-size: 0.8em;
}
#commentsmodal h3, #commentsmodal h4, #commentsmodal p {
	margin: 0 0 0.5em 0;
}
#metadata_comment_show, #metadata_comment_input {
	width: 480px;
	padding: 0.5em;
	resize: none;
	border-radius: 3px;
}
#commentsmodal label {
	font-size: smaller;
}
#commentsmodal .submitrow {
	text-align: right;
}
#commentsmodal #errortext{
	color: red;
	display: hidden;
	text-align: left;
}


#commentsmodal .submitrow input, #commentsmodal .submitrow button {
	border-radius: 20px;
	padding: 5px 10px 5px 10px;
	background: #232e72;
	color: white;
	border: none;
}
#commentsmodal .submitrow button {
	margin-left: 5px;
	color: #232e72;
	background: white;
	border: 1px solid #232e72;
}

.ot-shooting-contasdiner-wrapper {
    padding: 1rem;
    padding-left: 0;
}

/* .ot-share-heading {
    font-weight: bold;
    font-size: 1rem;
    color: #000000;
    outline: none;
} */

.ot-shooting-1-indent-content {
    padding-left: 1rem;
}

.ot-shooting-list-fields {
    display: block;
    margin: 1.0rem;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
}

 .ot-shooting-list-fields .ot-shooting-list-field {
 	width: 55%;
    margin-bottom: 0.75rem;
    margin-left: 2rem;
}
