<!-- <script src="../app/smartcompose/smartcompose.js" type="text/javascript"></script> -->
<script src="./customsmartcompose.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="../app/smartcompose/smartcompose.css"/>

<template id="CustomSmartComposeDialog" ot-template>
		<ot-view ot-freeflow ot-view-type="CustomSmartComposeView" ot-view-props='{"name" : "Smart compose", "type" : "customsmartcompose"}'></ot-view>
</template>

<template ot-template id="CustomSmartComposeView_content" ot-view="CustomSmartComposeView">
    <div>
		<ot-dialog-body>
            <div class="ot-smart-compose-container">
                <div class="ot-smart-compose-controls-container">
                    <div class="ot-smart-compose-controls-header">
                        <ot-i18n>Crop tools</ot-i18n>
                    </div>
                    <div class="ot-smart-compose-controls">
                        <div class="ot-smart-compose-undo-redo-container">
                            <span class="ot-smart-compose-undo-button ot-smart-compose-undo-disabled" onclick="SmartComposeView.undo(event);">
                                <span class="ot-smart-compose-image ot-smart-compose-undo-image"></span>
                                <span class="ot-smart-compose-undo-text"><ot-i18n>Undo</ot-i18n></span>
                            </span>
                            <span class="ot-smart-compose-redo-button ot-smart-compose-redo-disabled" onclick="SmartComposeView.redo(event);">
                                <span class="ot-smart-compose-image ot-smart-compose-redo-image"></span>
                                <span class="ot-smart-compose-redo-text"><ot-i18n>Redo</ot-i18n></span>
                            </span>
                        </div>
                        <div class="ot-smart-compose-control-divider"></div>
                        <div class="ot-smart-compose-crop-dimension-container">
                            <div class="ot-smart-compose-crop-dimension-header">
                                <ot-i18n>Crop dimensions</ot-i18n>
                            </div>
                            <div class="ot-smart-compose-crop-dimension-slider">
                                    <div class="ot-smart-compose-crop-slider-holder ot-smart-compose-crop-slider-width">
                                        <ot-i18n>X</ot-i18n>
                                        <ot-slider></ot-slider>
                                        <input class="ot-slider-value ot-slider-value-width" type="text" onkeyup="SmartComposeView.updateWidth(event);" />
                                        <ot-i18n>px</ot-i18n>
                                    </div>
                                    <div class="ot-smart-compose-crop-slider-holder ot-smart-compose-crop-slider-height">
                                        <ot-i18n>Y</ot-i18n>
                                        <ot-slider></ot-slider>
                                        <input class="ot-slider-value ot-slider-value-height" type="text" onkeyup="SmartComposeView.updateHeight(event);" />
                                        <ot-i18n>px</ot-i18n>
                                    </div>
                            </div>
                        </div>
                        <div class="ot-smart-compose-control-divider"></div>
                        <div class="ot-smart-compose-button-container">
                            <button type="button" class="ot-button micro secondary" onclick="SmartComposeView.copyURL(event);"><ot-i18n>Copy AMD link</ot-i18n></button>
                            <button type="button" class="ot-button micro secondary ot-smart-compose-crop-download" title="Download crop area" onclick="SmartComposeView.download(event);"><ot-i18n>Download</ot-i18n></button>
                        </div>
                    </div>
                </div>
                <div class="ot-smart-compose-img-container"></div>
            </div>
        </ot-dialog-body>
        <ot-dialog-footer ot-platform="desktop">
            <ot-layout class="ot-smart-compose-footer-layout">
                <div class="ot-modal-dialog-footer-buttons" ot-layout-fill-width>
                    <button type="submit" disabled autofocus class="ot-button ot-smart-compose-save" onclick="SmartComposeView.save(event);"><ot-i18n>Save</ot-i18n></button>
                    <button type="button" class="ot-button secondary" onclick="otui.DialogUtils.cancelDialog(this)"><ot-i18n>Cancel</ot-i18n></button>
                </div>
            </ot-layout>			
        </ot-dialog-footer>
    </div>
</template>

<script	src="../ui/import.js"></script>