.ot-dialog[dialogname="smartcomposedialog"] {
  width: 800px;
  height: 600px;
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}
.ot-touch-ui .ot-dialog[dialogname="smartcomposedialog"] {
  width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container {
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container {
  width: 15.25rem;
  height: inherit;
  border-right: 1px solid #a9a9a9;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls-header {
  font-size: 1rem;
  height: 2rem;
  background-color: #edf1f3;
  color: #333333;
  padding: 0.5rem 0 0 1rem;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls {
  margin: 1rem 0 0 1rem;
  user-select: none;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-control-divider {
  width: 90%;
  border: 1px solid #a9a9a9;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-undo-redo-container {
  font-size: 0.8rem;
  cursor: pointer;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-undo-redo-container .ot-smart-compose-undo-button .ot-smart-compose-image {
  display: inline-block;
  width: 2rem;
  height: 1.5rem;
  vertical-align: middle;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-undo-redo-container .ot-smart-compose-undo-button .ot-smart-compose-image.ot-smart-compose-undo-image {
  background: url('../../style/img/undo24.svg') no-repeat center;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-undo-redo-container .ot-smart-compose-undo-button.ot-smart-compose-undo-disabled .ot-smart-compose-image {
  display: inline-block;
  width: 2rem;
  height: 1.5rem;
  vertical-align: middle;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-undo-redo-container .ot-smart-compose-undo-button.ot-smart-compose-undo-disabled .ot-smart-compose-image.ot-smart-compose-undo-image {
  background: url('../../style/img/undo24_dis.svg') no-repeat center;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-undo-redo-container .ot-smart-compose-undo-button.ot-smart-compose-undo-disabled .ot-smart-compose-undo-text {
  color: #a8a8a8;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-undo-redo-container .ot-smart-compose-redo-button {
  margin-left: 1.5rem;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-undo-redo-container .ot-smart-compose-redo-button .ot-smart-compose-image {
  display: inline-block;
  width: 2rem;
  height: 1.5rem;
  vertical-align: middle;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-undo-redo-container .ot-smart-compose-redo-button .ot-smart-compose-image.ot-smart-compose-redo-image {
  background: url('../../style/img/redo24.svg') no-repeat center;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-undo-redo-container .ot-smart-compose-redo-button.ot-smart-compose-redo-disabled .ot-smart-compose-image {
  display: inline-block;
  width: 2rem;
  height: 1.5rem;
  vertical-align: middle;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-undo-redo-container .ot-smart-compose-redo-button.ot-smart-compose-redo-disabled .ot-smart-compose-image.ot-smart-compose-redo-image {
  background: url('../../style/img/redo24_dis.svg') no-repeat center;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-undo-redo-container .ot-smart-compose-redo-button.ot-smart-compose-redo-disabled .ot-smart-compose-redo-text {
  color: #a8a8a8;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-crop-dimension-container {
  margin-top: 1.5rem;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-crop-dimension-container .ot-smart-compose-crop-dimension-header {
  font-size: 1rem;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-crop-dimension-container .ot-smart-compose-crop-dimension-slider {
  width: 100%;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-crop-dimension-container .ot-smart-compose-crop-dimension-slider .ot-smart-compose-crop-slider-holder {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  width: 95%;
  font-size: 0.75rem;
  max-height: 1rem;
  line-height: 1.5rem;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-crop-dimension-container .ot-smart-compose-crop-dimension-slider .ot-smart-compose-crop-slider-holder ot-slider {
  width: 96%;
  margin: 0;
  padding: 0;
  border: 0;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-crop-dimension-container .ot-smart-compose-crop-dimension-slider .ot-smart-compose-crop-slider-holder .ot-slider-value {
  width: 20%;
  margin-left: 0.25rem;
  border: 1px solid #757575;
  border-radius: 3px;
  padding-left: 4px;
  height: 1rem;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-crop-dimension-container .ot-smart-compose-crop-dimension-slider .ot-smart-compose-crop-slider-holder ot-i18n {
  margin-left: 0.3125rem;
  font-size: 0.85rem;
  position: relative;
  bottom: 0.3rem;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-button-container {
  margin-top: 1rem;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-controls-container .ot-smart-compose-controls .ot-smart-compose-button-container .ot-smart-compose-crop-download {
  margin-left: 0.5rem;
}
ot-view[ot-view-type="SmartComposeView"] .ot-smart-compose-container .ot-smart-compose-img-container {
  width: calc(100% - 15.25rem);
  height: 100%;
  box-sizing: border-box;
  background-color: #333333;
}