ot-view[ot-view-type="PreLaunchFormDialogView"] .ot-prelaunchform-view .ot-prelaunchform-job-wrapper{
    display:none;
}

.ot-task-form .ot-form-action-section {
    padding:3rem 1rem;
}

.ot-task-form .ot-form-action-section .ot-form-action-wrapper .ot-button {
    font-size:1rem;
    height:3rem;
}

ot-metadata > div > label[title=":"] {
    display: none;
}